# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Directories
.vs/
Bin/
Build/
Interm/
Tests/Core/Out/*

# Dependencies
AGE/Lib/yaml-cpp/Lib/yaml-cpp.lib
AGE/Lib/yaml-cpp/Lib/yaml-cppd.lib
AGE/Lib/yaml-cpp/Lib/yaml-cppd.pdb

# Emacs temp files
*~
*#

# Misc
Tools/*.exe
Tools/*.pdb
Tools/Tools/ShaderCompiler/TestShaders/Out/
*.swp
.cache/
